@import "~bootstrap/scss/bootstrap";

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0;
  
  &__item {
    width: 18rem;
    margin: 0.5rem;
  }
}

label {
  color: white;
  margin: auto 0.3rem;
}

.not-found, .error, .loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found {
  height: 100vh;
}

.error, .loading {
  height: calc(100vh - 2.5rem);
}
